.Screen1{
    display: flex; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;  
    background-color: #FFFFFF;
    flex-direction: column; 
    justify-content: flex-start;
align-items: flex-start;  
}
.layer-2-1887defdeaeb4fb68c78ba8c49f4e7dd{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-image: url('/_next/image?url=%2Fassets%2FDSC08088.jpg&w=3840&q=75');
height: 100vh;min-height: 100vh;
width: 100vw;min-width: 100vw;
    {visibility}
}
